# Q1.
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:

b()

b()

b()

a

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [8]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
b()
b()
b()
a

6

First the variable 'a' is initialized with the value 0.

After that functions b() and c() are defined.

In function b():

The global variable 'a' is updated by calling function c() with 'a' as argument.

The function c() returns 'a + 2'.

Therefore, when function b() is called first time, the value of a becomes 2. Similarly, when second time b() is called the value of 'a' becomes 4 and third time it becomes 6.

Finally when a is evaluated and the ans ddisplayed is '6' which is the value of 'a'.

# Q2.
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

fileLength('midterm.py')
284

fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
    
fileLength('midterm.py')
358
    
fileLength('idterm.py')
File idterm.py not found.

In [2]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File not found.")
    
file_length('midterm.py')
file_length('idterm.py')

23
File not found.

# Q3
Write a class named Marsupial that can be used as shown below:
 m = Marsupial()
 m.put_in_pouch('doll')
 m.put_in_pouch('firetruck')
 m.put_in_pouch('kitten')
 m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [3]:
class Marsupial:
    
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']



Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and

c. overloads the __str__ operator so it behaves as shown below.

In [5]:
class Kangaroo(Marsupial):
    
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({self.x},{self.y})"

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
ak=k.pouch_contents()
print(ak)

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

I am a Kangaroo located at coordinates ({self.x},{self.y})
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates ({self.x},{self.y})

# Q4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:

x = {洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐, 3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬

Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [15]:
def collatz(x):
  
    if x == 1:
        print(x)
    else:
        print(x)
        
        if x % 2 == 0:
            collatz(int(x / 2))
        else:
            collatz(3*x + 1)

In [13]:
collatz(1)

1

In [14]:
collatz(10)

10
5
16
8
4
2
1

# Question 5 
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [18]:
def binary(n):
    if n > 1:
        binary(int(n / 2)
    print(n % 2, end='')

In [19]:
binary(10)

1010

# Q6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html

In [23]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    Headers = ["h1", "h2"]
    current = -1

    def handle_starttag(self, tag, attrs):      
        if tag in HeadingParser.Headers:         
            HeadingParser.current = HeadingParser.Headers.index(tag)
    
    def handle_endtag(self, tag):                
        if tag == HeadingParser.Headers[HeadingParser.current]:          
            HeadingParser.current = -1
            
    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)
            
infile = open("w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Q7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

In [28]:
from html.parser import HTMLParser
from urllib.parse import urljoin
from urllib.request import urlopen


class Collector(HTMLParser):
   

    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links
    
allLinks = []
    
def webdir(url,depth,indent):
        global allLinks   
        print(indent*" " + url)
        if depth == 0:
            return 
        for i in allLinks: 
            webdir(i, depth-1, indent+1)    


url = ' http://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
allLinks = collector.getLinks()


webdir(url,2,0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test2.html

# Q 8
Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [29]:
import sqlite3
con = sqlite3.connect('city_info.db')
cur = con.cursor()
cur.execute("CREATE TABLE city_info (City text, Country text, Season text, Temperature double, Rainfall double)")
cur.execute("INSERT INTO city_info VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO city_info VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO city_info VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

cur.execute('SELECT * FROM city_info')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [30]:
# Question 8(a)

cur.execute('SELECT Temperature FROM city_info')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [31]:
# Question 8(b)
cur.execute('SELECT DISTINCT(City) FROM city_info')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [32]:
# Question 8(c)
cur.execute('SELECT * FROM city_info where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [33]:
# Question 8(d)
cur.execute('SELECT * FROM city_info where Season = "Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [34]:
# Question 8(e)
cur.execute('SELECT City, Country, Season, AVG(Rainfall) FROM city_info GROUP BY City, Country, Season HAVING AVG(Rainfall) >= 200 and AVG(Rainfall) <= 400')
cur.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'United Kindom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [35]:
# Question 8(f)
cur.execute('SELECT City, Country, AVG(Temperature) FROM city_info where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

In [36]:
# Question 8(g)
cur.execute('SELECT SUM(Rainfall) FROM city_info WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

In [37]:
# Question 8(h)
cur.execute('SELECT Season, SUM(Rainfall) FROM city_info GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Q9
Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [39]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

In [40]:
# a
upper_words = [word.upper() for word in words]
print(upper_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [41]:
# b
lower_words = [word.lower() for word in words]
print(lower_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [42]:
# c
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [43]:
# d
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [44]:
# e
four_or_more = [word for word in words if len(word) >= 4]
print(four_or_more)

['quick', 'brown', 'jumps', 'over', 'lazy']